html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 9000px; }
  body .top-body {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100vw; }
    body .top-body video {
      position: relative;
      left: 50%;
      height: auto;
      width: 100vw;
      transform: translate(-50%, 0%);
      min-width: 100%;
      min-height: 100%;
      z-index: -100;
      /*background-repeat: no-repeat */
      /*background-position: bottom center */
      -webkit-background-size: cover;
      /*background-size: cover */ }
    body .top-body .text-box {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      text-align: center;
      width: 100vw;
      position: absolute;
      top: 35%;
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%); }
      body .top-body .text-box #fname {
        margin: 0;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, Avenir;
        font-weight: bold;
        font-size: 6vmin;
        letter-spacing: 25px;
        color: white;
        text-shadow: 7px 7px 20px black; }
      body .top-body .text-box #title {
        margin: 0;
        padding-top: 5;
        opacity: 0.7;
        font-family: -apple-system, BlinkMacSystemFont, Avenir;
        font-weight: lighter;
        font-size: 2.5vmin;
        text-align: center;
        line-height: 40px;
        letter-spacing: 18px;
        color: white;
        text-shadow: 3px 3px 5px black; }
      body .top-body .text-box .menu {
        display: flex;
        position: relative;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 100vw;
        margin-top: 15px; }
        body .top-body .text-box .menu .Land {
          position: relative;
          height: 35px;
          width: 110px; }
          body .top-body .text-box .menu .Land h1 {
            margin: 0px;
            font-family: -apple-system, BlinkMacSystemFont, Avenir;
            font-weight: lighter;
            font-size: 1.8vmin;
            text-align: center;
            line-height: 20px;
            letter-spacing: 3px;
            text-shadow: 3px 3px 5px black; }
            body .top-body .text-box .menu .Land h1 a {
              opacity: 0.5; }
            body .top-body .text-box .menu .Land h1 #land {
              text-decoration: none;
              color: white; }
            body .top-body .text-box .menu .Land h1 #land:hover {
              opacity: 1;
              transition: opacity 0.1s ease-in; }
        body .top-body .text-box .menu .sepbar {
          position: relative;
          height: 18px;
          width: 1.5px;
          background-color: white;
          margin-left: 35px;
          margin-right: 20px; }
        body .top-body .text-box .menu .Port {
          position: relative;
          height: 25px;
          width: 95px; }
          body .top-body .text-box .menu .Port h1 {
            margin: 0px;
            font-family: -apple-system, BlinkMacSystemFont, Avenir;
            font-weight: lighter;
            font-size: 1.8vmin;
            text-align: center;
            line-height: 20px;
            letter-spacing: 3px;
            text-shadow: 3px 3px 5px black; }
            body .top-body .text-box .menu .Port h1 a {
              opacity: 0.5; }
            body .top-body .text-box .menu .Port h1 #port {
              text-decoration: none;
              color: white; }
            body .top-body .text-box .menu .Port h1 #port:hover {
              opacity: 1;
              transition: opacity 0.1s ease-in; }
    body .top-body .footer-bx {
      position: absolute;
      width: 100%;
      bottom: 8%;
      margin: 0;
      opacity: 0.5; }
      body .top-body .footer-bx #footer-box {
        height: 20px;
        width: 100vw;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        position: absolute; }
        body .top-body .footer-bx #footer-box #disclaimer {
          z-index: 1;
          display: flex;
          flex-direction: column;
          height: 20px;
          width: 100vw;
          flex-wrap: wrap; }
          body .top-body .footer-bx #footer-box #disclaimer h1 {
            color: white;
            opacity: 0.7;
            margin: 0px;
            padding-top: 30px;
            text-align: center;
            font-family: -apple-system, BlinkMacSystemFont, Avenir;
            font-weight: lighter;
            font-size: 9px;
            letter-spacing: 2px; }
        body .top-body .footer-bx #footer-box p {
          position: relative;
          margin: 0px;
          padding-top: 10px;
          padding-right: 25px;
          font-family: -apple-system, BlinkMacSystemFont, Avenir;
          font-weight: lighter;
          font-size: 9px;
          letter-spacing: 2px;
          color: white; }
  body .mid-body {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 3000px;
    width: 100vw;
    background-color: grey; }
    body .mid-body #main-content {
      position: absolute;
      width: 100%; }
      body .mid-body #main-content #gallery {
        position: relative;
        margin: 100px; }
        body .mid-body #main-content #gallery #thumbnails {
          position: relative; }
        body .mid-body #main-content #gallery img {
          position: relative;
          right: 20%;
          bottom: 30%;
          max-width: 500px;
          max-height: 500px; }
        body .mid-body #main-content #gallery .img-container {
          margin: 6px 10px;
          width: 380px;
          height: 380px;
          float: left;
          overflow: hidden; }

@media only screen and (max-width: 550px) {
  .menu {
    visibility: hidden; }

  .disclaimer {
    visibility: hidden; } }

/*# sourceMappingURL=main.css.map */
