@import '1-tools/-tools-index'
@import '2-base/-base-index'
@import '3-modules/-modules-index'
@import '4-pages/-pages-index'

html
  height: 100%
  margin: 0
  padding: 0
body
  margin: 0
  padding: 0
  height: 9000px

  #map
    height: 100%

  #form-create

  #form-remove
    display: none

    /*video
      position: relative
      left: 50%
      height: auto
      width: 100vw
      transform: translate(-50%, 0%)
      min-width: 100%
      min-height: 100%
      z-index: -100*/
      /*background-repeat: no-repeat*/
      /*background-position: bottom center*/
      /*-webkit-background-size: cover*/
      /*background-size: cover*/

  .menu
    display: flex
    position: relative
    justify-content: center
    align-content: center
    text-align: center
    width: 100vw
    margin-top: 15px


@media only screen and (max-width: 550px)
  .menu
    visibility: hidden

  .disclaimer
    visibility: hidden
